{% extends "base.html" %}

{% block body %}

{% if breadcrumbs %}
<div class="row">

  {% include 'breadcrumb.html' %}

  {% include 'pagination.html' %}

  {% include 'query.html' %}
</div>
<br><hr>
{% endif %}

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>

          {% for column in headers %}
          <th>
            {% if column.url %}
              <a href="column.url">{{column.label}}</a>
            {% else %}
              {{column.label}}
            {% endif %}
          </th>
          {% endfor %}

        </tr>

          <tbody>
            {% for row in data %}
            <tr>
              {% for item in row %}
              <td>
                {% if item.url %}
                  <a href="{{item.url}}">{{item.label}}</a>
                {% else %}
                  {{item.label}}
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
  </div>
</div>

{% endblock body %}
